SimpleCollector/Service References/ClientService/ClientService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://2f29uv6nh1dtk1t/e/api/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Voodoo.Model" />
  <xs:element name="BookSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="BookSearchResult" nillable="true" type="q1:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>