KCMDCollector/Service References/zuoaiai/ClientService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zuoaiai.net/e/api/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Voodoo.Model" />
  <xs:element name="BookSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="BookSearchResult" nillable="true" type="q1:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookFind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="BookFindResult" nillable="true" type="q2:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="GetBookByIDResult" nillable="true" type="q3:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="book" nillable="true" type="q4:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="BookInsertResult" nillable="true" type="q5:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="book" nillable="true" type="q6:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BookDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="ClassSearchResult" nillable="true" type="q7:ArrayOfClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassFind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="ClassFindResult" nillable="true" type="q8:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="GetClassByIDResult" nillable="true" type="q9:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="cls" nillable="true" type="q10:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="ClassInsertResult" nillable="true" type="q11:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="cls" nillable="true" type="q12:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="ChapterSearchResult" nillable="true" type="q13:ArrayOfBookChapter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChapterExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterFind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="ChapterFindResult" nillable="true" type="q14:BookChapter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChapterByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChapterByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="GetChapterByIDResult" nillable="true" type="q15:BookChapter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="chapter" nillable="true" type="q16:BookChapter" />
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="chapter" nillable="true" type="q17:BookChapter" />
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChapterDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChapterText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="chapter" nillable="true" type="q18:BookChapter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChapterTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChapterTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIndex">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIndexResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClassPage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClassPageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBookPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Voodoo.Model" minOccurs="0" name="book" nillable="true" type="q19:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBookPageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>